* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    direction: rtl !important;
}

body,
html {
    font-family: 'main'  !important;
    background-color: #F7F7F7;
}

body {
    font-size: 1rem;
    line-height: 1.5;
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent
}


@font-face {
    font-family: 'main';
    src: url('../fonts//yekanBakhFamily/YekanBakh-Regular.ttf');
}

table {
    border-collapse: collapse;
    font-family: 'main' !important;
    text-align: center;
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent
}

th , td {
    font-family: 'main' !important;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

:focus-visible {
    outline: none;
}

a:hover {
    text-decoration: none;
}

article {
    width: 100%;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #ebebeb;
}

::-webkit-scrollbar-thumb {
    background: rgb(197, 197, 197);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(85, 94, 129);
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    font-family: 'main' !important;
}

label{
    font-family: 'main'  !important;
    background: white;
}

input{
    font-family: 'main'  !important;
}

