@font-face {
    font-family: "main";
    src: url(../fonts/YekanBakhFaNum-Bold.ttf) format("truetype");
    font-weight: 900;
}

@font-face {
    font-family: "main";
    src: url(../fonts/YekanBakhFaNum-Regular.ttf) format("truetype");
    font-weight: 300;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    direction: rtl !important;
}

body,
html {
    font-family: 'main';
    background-color: #F7F7F7;
}

body {
    font-size: 1rem;
    line-height: 1.5;
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent
}

table {
    border-collapse: collapse;
    text-align: center;
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

:focus-visible {
    outline: none;
}

a:hover {
    text-decoration: none;
}

article {
    width: 100%;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #ebebeb;
}

::-webkit-scrollbar-thumb {
    background: rgb(197, 197, 197);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(85, 94, 129);
}

::-webkit-scrollbar:horizontal {
  height: 7px;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    font-family: 'main' !important;
}

label {
    background: white;
}

input {
    font-family: 'main' !important;
}

textarea {
    font-family: 'main' !important;
}

.MuiPickersCalendarHeader-label {
    font-family: 'main' !important;
}

.MuiDayCalendar-weekDayLabel {
    font-family: 'main' !important;
}

.MuiPickersArrowSwitcher-root {
    direction: ltr !important
}

.MuiPickersArrowSwitcher-spacer {
    display: none !important
}

.MuiPickersArrowSwitcher-root {
    margin-left: 10px;
}

.MuiAutocomplete-listbox {
    font-family: 'main' !important;
}

.MuiTimePickerToolbar-hourMinuteLabel{
   direction: ltr !important
}

.MuiTypography-overline{
    display: none;
}

.MuiDialog-paper{
    border-radius: 20px !important;
}